
.calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    row-gap: 20px;
    column-gap: 50px;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:deepskyblue;
    height:70px;
    border-radius: 10px;
}
.day{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(76, 80, 81);
    height:70px;
    border-radius: 10px;

}