* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body{
  max-width: 1494px;
  margin:auto;
}
.container {
  width: 80%;
  margin: auto;
}
/*Architect experience section */

.experience {
  margin: 100px 0;
}

.my-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.experience-desc h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #131313;
  padding-left: 20px;
  margin-bottom: 30px;
  position: relative;
}

.experience-desc h3::before {
  position: absolute;
  content: "";
  background-color: #ff900e;
  width: 3px;
  height: 100px;
  top: 0;
  left: 0;
}
.experience-desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.box {
  padding: 10px;
  box-shadow: 0 0 20px #dfdbdb;
  margin-top: 20px;
}

.box h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 15px;
}

.box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.my-image img {
  width: 100%;
}

.my-image {
  position: relative;
}

.btn-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ff900e;
  padding: 30px;
  text-align: center;
  margin-left: -40px;
  border-radius: 5px;
  color: #fff;
}
.btn-2 h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
.btn-2 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@media (max-width: 1410px) {

  .btn-2 {
    position: relative;
    padding: 10px 0;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }

}
@media (max-width: 991px) {
  .container{
    width:90%;
    margin:auto;
  }
.my-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.btn-2 {
    position: relative;
    margin-left: 0px !important;
    margin-top:30px !important;
   
}

}
@media (max-width: 768px) {
  .experience {
    margin-top: 50px;
  }

  .my-experience {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .experience-desc h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .experience-desc h3::before {
    width: 3px;
    height: 50px;
  }
  .btn-2 {
    position: relative;
    padding: 10px 0;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
  }

  .btn-2 h1 {
    font-size: 35px;
    line-height: 55px;
  }
}

